body {
  background-color: azure;
}

header {
  background-color: darkgray;
  border: 4px solid black;
}

h1 {
  text-align: center;
}

#msg {
  width: 22%;
  background-color: red;
  position: absolute;
  top: 10rem;
  right: 4rem;
}

#input {
  text-align: center;
  border: 10px solid black;
  background-color: azure;
}

#welcome {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.input {
  margin: 10px;
  padding: 10px;
}

.age {
  position: relative;
  left: 10px;
}

.training {
  position: relative;
  right: 4px;
}

#btnHome {
  position: relative;
  top: 3rem;
  left: 3rem;
}
