* {
	box-sizing: border-box;
}
	body {
		margin: 0;
		padding: 0;
	}
h1 {
			text-align: center;
			color: black;
			background-color: #1E90FF;
			border: 4px solid black;
		}
h2 {
			text-align: center;
			background-color: dodgerblue;
			border:2px solid black;
		}
ul {
			
		}
div.websites li {
			list-style: none;
		}
a:link, a:visited {
			text-decoration: none;
			background-color: #FF8D1E;
			color: black;
			border: 2px solid black;
			font-size: 30px;
			width: 400px;
			text-align: center;
			display: block;
			margin-bottom: 10px;
		}
a:hover, a:active {
			background-color: white;
			border: 2px solid #1E90FF;
		}
#lyrics {
	background-color: #FF8D1E;
	border: 2px solid black;
	margin-bottom: 30px;
	text-align: center;
	font-size: 14px;
	color: black;
}
#Gunna {
	float: right;
	background-color: #FF8D1E;
}
#walmart {
	
}