* {
	box-sizing: border-box;
	margin: 0;
}
body {
	font-size: 20px;
}
h1 {
	font-size: 1.5em;
	text-align: center;
}
p {
	font-family: Courier New;
	text-align: center;
}
p.desc {
	font-family: helvetica;
}
#start {
	background-color: lightgray;
	width: 25%;
}
div.com {
	background-color: lightgray;
	border: 1px solid black;
	padding: 20px
}
div.info {
	list-style: lower-greek;
	background-color: #FFEBCD;
}